@font-face {
    font-family: 'Tagesschrift';
    src: url('../fonts/Tagesschrift-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.auth-wrapper {
    background-color: #fff5e6;
    padding: 60px 20px;
    min-height: 100vh;
}


.auth-title {
    text-align: center;
    font-size: 28px;
    color: #8b7969;
    font-family: 'Tagesschrift', sans-serif;
    margin-bottom: 20px;
}

.auth-label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #8b7969;
}

.auth-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.auth-btn-wrap {
    display: flex;
    justify-content: center;
}

.auth-btn-wrap button {
    width: 50%;
    /* 半分の幅 */
    padding: 12px;
    background-color: #8b7969;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-btn-wrap button:hover {
    background-color: #7a6c5e;
}

.auth-form {
    max-width: 400px;
    margin: 60px auto;
    padding: 40px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    font-family: 'Tagesschrift',
        sans-serif;
    color: #8b7969;
}


.auth-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*エラーメッセージ*/
.form__error {
    margin: 12px 0;
    color: red;
    font-size: 14px;
}